.card {
    border-radius: 10px;
    height: 340px;
    width: 100%;
    position: relative;
    overflow: hidden;
  
    
  
    > img {
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
        width: 100%;
        transition: opacity 0.3s;
  
        &:hover {
            opacity: 0.30;
        }
    }
  
    .dark-card {
        background: linear-gradient(180deg, #ffffff00 0%, #00000080 100%);
        border-radius: 10px;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
  
        &:hover {
          background: linear-gradient(180deg, #ffffff00 0%, #00000080 0%);
          cursor: pointer;
      }
    }
  
    .card-title {
        bottom: 20px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        left: 20px;
        margin-right: 20px;
        position: absolute;
    }
  }
  
  @media screen  and (max-width: 600px) {
      .card {
          border-radius: 3px;
          height: 255px;
          width: 335px;
      }
  
     
  }